{% load static %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
	<title></title>
<title></title>
<link rel="stylesheet" href="{% static 'css/auth_style.css' %}"/>
</head>
<body>
    <div class="box">
		<div class="inner-box">
		    <h2>Registration Page</h2>
            {% if status == 1 %}
                <p class="warning">User already exist with that email</p>
            {% endif %}
            <form method="POST">
                {% csrf_token %}
                <input type="text" name="first_name" placeholder="First Name" required/>
                <input type="text" name="last_name" placeholder="Last Name" required/>
                <input type="email" name="email" placeholder="Email Address"/>
                <input type="password" name="password" placeholder="Password" />
                <a href="{% url 'login' %}">login</a>
                <input type="submit" value="Submit" />
            </form>
		</div>
	</div>
</body>
</html>