{% load static %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="{% static 'css/style3.css' %}"/>
</head>
<body>
	{% if status == 1 %}
		<p class="alert alert-danger">Password not matched</p>
	{% elif status == 2 %}
		<p class="alert alert-danger">User does not exist</p>
	{% endif %}
	<div class="box">
		<div class="inner-box">
		<h3>Please Enter New Password</h3>
		<form method="POST">
			{% csrf_token %}
			<input type="password" name="new_pswd" placeholder="New Password" required/>
			<input type="password" name="cnfrm_pswd" placeholder="Confirm Password" required/>

			<input type="submit" value="Reset"/>
		</form>
		<!--
		<p style="text-align:center;" >
				<a class="link" href="login.html">Sign In Now</a>
		</p>
		-->

		</div>
	</div>

</body>
</html>